section.about {
    // background-color: #f8f8f8;

    h2 {
        @include sectionHeading();

        &::after {
            @include sectionHeadingAfter();
        }
    }

    div.about-wrapper {

        div.about-img {

            img {
                display: block;
                margin: 30px auto 40px auto;
                width: 100%;

                box-shadow: 1px 0px 16px 1px rgba(0, 0, 0, 0.7);
                -webkit-box-shadow: 1px 0px 16px 1px rgba(0, 0, 0, 0.7);
                -moz-box-shadow: 1px 0px 16px 1px rgba(0, 0, 0, 0.7);
            }
        }

        div.about-text {
            padding: 20px;
            background-color: $bg-color;

            p {
                @include text();
                color: white;

                strong {
                    font-weight: normal;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    section.about {

        h2 {
            margin: 40px 0;
            font-size: 2rem;
        }

        div.about-wrapper {

            div.about-img {

                img {
                    width: 70%;
                }
            }

            div.about-text {
                padding: 40px 0;

                p {
                    width: 85%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media(min-width: 1023px) {
    section.about {

        h2 {
            font-size: 2.2rem;
        }

        div.about-wrapper {
            position: relative;
            min-height: 650px;

            div.about-img {

                img {
                    width: auto;
                    position: absolute;
                    left: 5%;
                    top: 0;
                    z-index: 1;
                }
            }

            div.about-text {
                padding: 60px 20px;
                position: absolute;
                right: 5%;
                bottom: 0;
                width: 60%;

                box-shadow: 1px 0px 16px 1px rgba(0, 0, 0, 0.7);
                -webkit-box-shadow: 1px 0px 16px 1px rgba(0, 0, 0, 0.7);
                -moz-box-shadow: 1px 0px 16px 1px rgba(0, 0, 0, 0.7);
            }
        }
    }
}

@media(min-width: 1100px) {
    section.about {

        div.about-wrapper {
            min-height: 620px;
        }
    }
}

@media(min-width: 1200px) {
    section.about {
        width: 1200px;
        margin: 0 auto;

        div.about-wrapper {

            div.about-img {

                img {
                    top: 10px;
                }
            }

            div.about-text {
                padding: 60px 10px;
                right: 10%;
                bottom: -10px;
                width: 50%;

                p {
                    width: 90%;
                }
            }
        }
    }
}