.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: $bg-color;
    z-index: 3;
    transition: all .5s ease-in-out;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        li {
            margin: 5px 0;
            text-indent: 5px;
            list-style: none;

            a {
                display: block;
                padding: 10px 5px;
                font-size: 1rem;
                color: white;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: $header-font;
                font-weight: 300;
                transition: .2s linear;
            }

            &:hover {

                a {
                    color: #219fbf;
                    cursor: pointer;
                }
            }
        }
    }
}

.main-nav.hidden {
    left: -45%
}

@media (min-width: 1023px) {
    .main-nav {
        height: auto;
        width: 100%;
        transition: none;

        ul {
            flex-direction: row;

            li {
                position: relative;
                margin: 10px 5px;

                a {
                    font-size: 1.1rem;
                    padding: 15px 10px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background: rgb(33, 159, 191);
                    background: -moz-linear-gradient(332deg, rgba(33, 159, 191, 1) 0%, rgba(37, 107, 168, 1) 100%);
                    background: -webkit-linear-gradient(332deg, rgba(33, 159, 191, 1) 0%, rgba(37, 107, 168, 1) 100%);
                    background: linear-gradient(332deg, rgba(33, 159, 191, 1) 0%, rgba(37, 107, 168, 1) 100%);
                    transition: .2s linear;
                }
            }

            li:hover {

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .main-nav.hidden {
        left: 0;
    }
}