// $primary-color:#1F20B5;
$primary-color:#141475;
// $secondary-color:#214BBF;
$secondary-color:#1F20B5;


// $bg-color: #143b5c;
$bg-color: #08183C;


$header-font: 'Roboto',
sans-serif;
$text-font: 'Lato',
sans-serif;

// #1F20B5
// #214BBF
// #256BA8
// #219FBF
// #1FB5AB


// .advantages-wrapper {
//     width: 1000px;

//     .advantage-content {
//        
//         .advantage-image {

//             img {
//             }
//         }

//         .advantage-desc {
//             
//             h4 {
//                 margin-bottom: 20px;
//                 text-align: center;
//                 font-size: 1.2rem;
//                 color: white;
//             }

//             p {
//                 line-height: 150%;
//                 color: white;
//                 text-align: justify;
//             }
//         }
//     }
// }