$primary-color:#683aaf;
$secondary-color:#bd97f6;

$trzeci:#9363dd;
$czwarty: #143b5c;

$linear-color: linear-gradient(332deg, rgba(189, 151, 246, 1) 00%, rgba(104, 58, 175, 1) 50%, rgba(147, 99, 221, 1) 100%);

$header-font: 'Roboto',
sans-serif;
$text-font: 'Lato',
sans-serif;

// #08183C
// #073254
// #070A54