$primary-color:#1F20B5;
$secondary-color:#214BBF;

// $bg-color: #143b5c;
$bg-color: #08183C;

$linear-color: linear-gradient(332deg, rgba(189, 151, 246, 1) 00%, rgba(104, 58, 175, 1) 50%, rgba(147, 99, 221, 1) 100%);

$header-font: 'Roboto',
sans-serif;
$text-font: 'Lato',
sans-serif;

// #1F20B5
// #214BBF
// #256BA8
// #219FBF
// #1FB5AB